@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');
/* ---------------------   slider   --------------------- */

body {
    /* font-family: 'Poppins', sans-serif; */
    margin: 0;
}

body, html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

/* .load {
    animation: slide 1s;
} */

img#logo {
    float: left;
    margin-left: 4%;
}


.container {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 400px 400px 400px 400px 400px;
    max-width: 760px;
    max-height: 600px;
    margin: auto;
    margin-top: 10;
}

.box-one{
    grid-column: 1/2;
    grid-row : 1/2;
  }

  .box-two{
    grid-column: 2/3;
    grid-row :1/2;
  }

  .box-three{
    grid-column:1/2;
    grid-row : 2/3
  }

  .box-four{
    grid-column: 2/3;
    grid-row : 2/3;
  }

  .box-five{
    grid-column:1/2;
    grid-row : 3/4;
  }

  .box-six{
    grid-column: 2/3;
    grid-row : 3/4;
  }

  .box-seven{
    grid-column: 1/2;
    grid-row : 4/5;
  }

  .box-eight{
    grid-column: 2/3;
    grid-row : 4/5;
  }

  .box-nine{
    grid-column: 1/2;
    grid-row : 5/6;
  }


  .box-ten{
    grid-column: 2/3;
    grid-row : 5/6;
  }


   .center-div .bgimg {
      background-image: url('img/one.jpeg');
      background-size: cover;
      background-position: center center;
    }
  
    .center-div .box {
        margin: 30px 0 0 0;
        position: relative;
        width: 301px;
        height: 300px;
        overflow: hidden;
    }
      .center-div .bgimg .skew {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        z-index: 20;
      }
        .center-div .bgimg .skew:before {
          background: #ad6999;
          box-shadow: -5px 0 10px rgba(0,0,0,0.2);
          content: "";
          display: block;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          transform: skew(10deg);
          width: 100%;
          z-index: -1;
          transition: top 500ms linear, right 500ms linear;
        }
        .center-div .bgimg .skew:after {
          background: #ad6999;
          box-shadow: -5px 0 10px rgba(0,0,0,0.2);
          content: "";
          display: block;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          transform: skew(-10deg);
          width: 100%;
          z-index: -2;
          transition: top 500ms linear, right 500ms linear;
        }
        .center-div .bgimg .skew .content8 {
          position: relative;
          opacity: 1;
          width: 100%;
          height: 100%;
          transition: opacity 300ms linear;
        }
          .center-div .bgimg .skew .content8 span {
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: #20478a;
            letter-spacing: 0.15em;
            text-shadow: 2px 2px 5px #ad885b;
          }
        
      .center-div .bgimg .skew:hover::before {
            top: -100%;
            right: 21%;
          }
          .center-div .bgimg .skew:hover::after{
            top: 100%;
            right: 21%;
          }
          .center-div .bgimg .skew .content8 {
            opacity: 0;
          }


          /* --------------------------------------------------- */
          .center-div1 .bgimg {
            background-image: url('img/two.jpg');
            background-size: cover;
            background-position: center center;
          }

          .center-div1 .box {
            margin: 30px 0 0 0;
            position: relative;
            width: 301px;
            height: 300px;
            overflow: hidden;
        }
          .center-div1 .bgimg .skew {
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 50%;
            z-index: 20;
          }
            .center-div1 .bgimg .skew:before {
              background: #ad6999;
              box-shadow: -5px 0 10px rgba(0,0,0,0.2);
              content: "";
              display: block;
              height: 100%;
              position: absolute;
              top: 0;
              right: 0;
              transform: skew(10deg);
              width: 100%;
              z-index: -1;
              transition: top 500ms linear, right 500ms linear;
            }
            .center-div1 .bgimg .skew:after {
              background: #ad6999;
              box-shadow: -5px 0 10px rgba(0,0,0,0.2);
              content: "";
              display: block;
              height: 100%;
              position: absolute;
              top: 0;
              right: 0;
              transform: skew(-10deg);
              width: 100%;
              z-index: -2;
              transition: top 500ms linear, right 500ms linear;
            }
            .center-div1 .bgimg .skew .content8 {
              position: relative;
              opacity: 1;
              width: 100%;
              height: 100%;
              transition: opacity 300ms linear;
            }
              .center-div1 .bgimg .skew .content8 span {
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                text-transform: uppercase;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                color: #20478a;
                letter-spacing: 0.15em;
                text-shadow: 2px 2px 5px #ad885b;
              }
            
          .center-div1 .bgimg .skew:hover::before {
                top: -100%;
                right: 21%;
              }
              .center-div1 .bgimg .skew:hover::after{
                top: 100%;
                right: 21%;
              }
              .center-div1 .bgimg .skew .content8 {
                opacity: 0;
              }

              /* --------------------------------------------------- */
          .center-div2 .bgimg {
            background-image: url('img/three.jpg');
            background-size: cover;
            background-position: center center;
          }

          .center-div2 .box {
            margin: 30px 0 0 0;
            position: relative;
            width: 301px;
            height: 300px;
            overflow: hidden;
        }
          .center-div2 .bgimg .skew {
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 50%;
            z-index: 20;
          }
            .center-div2 .bgimg .skew:before {
              background: #ad6999;
              box-shadow: -5px 0 10px rgba(0,0,0,0.2);
              content: "";
              display: block;
              height: 100%;
              position: absolute;
              top: 0;
              right: 0;
              transform: skew(10deg);
              width: 100%;
              z-index: -1;
              transition: top 500ms linear, right 500ms linear;
            }
            .center-div2 .bgimg .skew:after {
              background: #ad6999;
              box-shadow: -5px 0 10px rgba(0,0,0,0.2);
              content: "";
              display: block;
              height: 100%;
              position: absolute;
              top: 0;
              right: 0;
              transform: skew(-10deg);
              width: 100%;
              z-index: -2;
              transition: top 500ms linear, right 500ms linear;
            }
            .center-div2 .bgimg .skew .content8 {
              position: relative;
              opacity: 1;
              width: 100%;
              height: 100%;
              transition: opacity 300ms linear;
            }
              .center-div2 .bgimg .skew .content8 span {
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                text-transform: uppercase;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                color: #20478a;
                letter-spacing: 0.15em;
                text-shadow: 2px 2px 5px #ad885b;
              }
            
          .center-div2 .bgimg .skew:hover::before {
                top: -100%;
                right: 21%;
              }
              .center-div2 .bgimg .skew:hover::after{
                top: 100%;
                right: 21%;
              }
              .center-div2 .bgimg .skew .content8 {
                opacity: 0;
              }


              /*---------------------------*/

              /* --------------------------------------------------- */
          .center-div3 .bgimg {
            background-image: url('img/four.jpg');
            background-size: cover;
            background-position: center center;
          }

          .center-div3 .box {
            margin: 30px 0 0 0;
            position: relative;
            width: 301px;
            height: 300px;
            overflow: hidden;
        }
          .center-div3 .bgimg .skew {
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 50%;
            z-index: 20;
          }
            .center-div3 .bgimg .skew:before {
              background: #ad6999;
              box-shadow: -5px 0 10px rgba(0,0,0,0.2);
              content: "";
              display: block;
              height: 100%;
              position: absolute;
              top: 0;
              right: 0;
              transform: skew(10deg);
              width: 100%;
              z-index: -1;
              transition: top 500ms linear, right 500ms linear;
            }
            .center-div3 .bgimg .skew:after {
              background: #ad6999;
              box-shadow: -5px 0 10px rgba(0,0,0,0.2);
              content: "";
              display: block;
              height: 100%;
              position: absolute;
              top: 0;
              right: 0;
              transform: skew(-10deg);
              width: 100%;
              z-index: -2;
              transition: top 500ms linear, right 500ms linear;
            }
            .center-div3 .bgimg .skew .content8 {
              position: relative;
              opacity: 1;
              width: 100%;
              height: 100%;
              transition: opacity 300ms linear;
            }
              .center-div3 .bgimg .skew .content8 span {
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                text-transform: uppercase;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                color: #20478a;
                letter-spacing: 0.15em;
                text-shadow: 2px 2px 5px #ad885b;
              }
            
          .center-div3 .bgimg .skew:hover::before {
                top: -100%;
                right: 21%;
              }
              .center-div3 .bgimg .skew:hover::after{
                top: 100%;
                right: 21%;
              }
              .center-div3 .bgimg .skew .content8 {
                opacity: 0;
              }

              /**/

              /* --------------------------------------------------- */
          .center-div4 .bgimg {
            background-image: url('img/five.jpg');
            background-size: cover;
            background-position: center center;
          }

          .center-div4 .box {
            margin: 30px 0 0 0;
            position: relative;
            width: 301px;
            height: 300px;
            overflow: hidden;
        }
          .center-div4 .bgimg .skew {
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 50%;
            z-index: 20;
          }
            .center-div4 .bgimg .skew:before {
              background: #ad6999;
              box-shadow: -5px 0 10px rgba(0,0,0,0.2);
              content: "";
              display: block;
              height: 100%;
              position: absolute;
              top: 0;
              right: 0;
              transform: skew(10deg);
              width: 100%;
              z-index: -1;
              transition: top 500ms linear, right 500ms linear;
            }
            .center-div4 .bgimg .skew:after {
              background: #ad6999;
              box-shadow: -5px 0 10px rgba(0,0,0,0.2);
              content: "";
              display: block;
              height: 100%;
              position: absolute;
              top: 0;
              right: 0;
              transform: skew(-10deg);
              width: 100%;
              z-index: -2;
              transition: top 500ms linear, right 500ms linear;
            }
            .center-div4 .bgimg .skew .content8 {
              position: relative;
              opacity: 1;
              width: 100%;
              height: 100%;
              transition: opacity 300ms linear;
            }
              .center-div4 .bgimg .skew .content8 span {
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                text-transform: uppercase;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                color: #20478a;
                letter-spacing: 0.15em;
                text-shadow: 2px 2px 5px #ad885b;
              }
            
          .center-div4 .bgimg .skew:hover::before {
                top: -100%;
                right: 21%;
              }
              .center-div4 .bgimg .skew:hover::after{
                top: 100%;
                right: 21%;
              }
              .center-div4 .bgimg .skew .content8 {
                opacity: 0;
              }

/**/

/* --------------------------------------------------- */
.center-div5 .bgimg {
    background-image: url('img/six.jpg');
    background-size: cover;
    background-position: center center;
  }

  .center-div5 .box {
    margin: 30px 0 0 0;
    position: relative;
    width: 301px;
    height: 300px;
    overflow: hidden;
}
  .center-div5 .bgimg .skew {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 20;
  }
    .center-div5 .bgimg .skew:before {
      background: #ad6999;
      box-shadow: -5px 0 10px rgba(0,0,0,0.2);
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      transform: skew(10deg);
      width: 100%;
      z-index: -1;
      transition: top 500ms linear, right 500ms linear;
    }
    .center-div5 .bgimg .skew:after {
      background: #ad6999;
      box-shadow: -5px 0 10px rgba(0,0,0,0.2);
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      transform: skew(-10deg);
      width: 100%;
      z-index: -2;
      transition: top 500ms linear, right 500ms linear;
    }
    .center-div5 .bgimg .skew .content8 {
      position: relative;
      opacity: 1;
      width: 100%;
      height: 100%;
      transition: opacity 300ms linear;
    }
      .center-div5 .bgimg .skew .content8 span {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #20478a;
        letter-spacing: 0.15em;
        text-shadow: 2px 2px 5px #ad885b;
      }
    
  .center-div5 .bgimg .skew:hover::before {
        top: -100%;
        right: 21%;
      }
      .center-div5 .bgimg .skew:hover::after{
        top: 100%;
        right: 21%;
      }
      .center-div5 .bgimg .skew .content8 {
        opacity: 0;
      }

/**/

/* --------------------------------------------------- */
.center-div6 .bgimg {
    background-image: url('img/eight.jpg');
    background-size: cover;
    background-position: center center;
  }

  .center-div6 .box {
    margin: 30px 0 0 0;
    position: relative;
    width: 301px;
    height: 300px;
    overflow: hidden;
}
  .center-div6 .bgimg .skew {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 20;
  }
    .center-div6 .bgimg .skew:before {
      background: #ad6999;
      box-shadow: -5px 0 10px rgba(0,0,0,0.2);
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      transform: skew(10deg);
      width: 100%;
      z-index: -1;
      transition: top 500ms linear, right 500ms linear;
    }
    .center-div6 .bgimg .skew:after {
      background: #ad6999;
      box-shadow: -5px 0 10px rgba(0,0,0,0.2);
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      transform: skew(-10deg);
      width: 100%;
      z-index: -2;
      transition: top 500ms linear, right 500ms linear;
    }
    .center-div6 .bgimg .skew .content8 {
      position: relative;
      opacity: 1;
      width: 100%;
      height: 100%;
      transition: opacity 300ms linear;
    }
      .center-div6 .bgimg .skew .content8 span {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #20478a;
        letter-spacing: 0.15em;
        text-shadow: 2px 2px 5px #ad885b;
      }
    
  .center-div6 .bgimg .skew:hover::before {
        top: -100%;
        right: 21%;
      }
      .center-div6 .bgimg .skew:hover::after{
        top: 100%;
        right: 21%;
      }
      .center-div6 .bgimg .skew .content8 {
        opacity: 0;
      }

/**/

.center-div7 .bgimg {
    background-image: url('img/eight.jpg');
    background-size: cover;
    background-position: center center;
  }

  .center-div7 .box {
    margin: 30px 0 0 0;
    position: relative;
    width: 301px;
    height: 300px;
    overflow: hidden;
}
  .center-div7 .bgimg .skew {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 20;
  }
    .center-div7 .bgimg .skew:before {
      background: #ad6999;
      box-shadow: -5px 0 10px rgba(0,0,0,0.2);
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      transform: skew(10deg);
      width: 100%;
      z-index: -1;
      transition: top 500ms linear, right 500ms linear;
    }
    .center-div7 .bgimg .skew:after {
      background: #ad6999;
      box-shadow: -5px 0 10px rgba(0,0,0,0.2);
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      transform: skew(-10deg);
      width: 100%;
      z-index: -2;
      transition: top 500ms linear, right 500ms linear;
    }
    .center-div7 .bgimg .skew .content8 {
      position: relative;
      opacity: 1;
      width: 100%;
      height: 100%;
      transition: opacity 300ms linear;
    }
      .center-div7 .bgimg .skew .content8 span {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #20478a;
        letter-spacing: 0.15em;
        text-shadow: 2px 2px 5px #ad885b;
      }
    
  .center-div7 .bgimg .skew:hover::before {
        top: -100%;
        right: 21%;
      }
      .center-div7 .bgimg .skew:hover::after{
        top: 100%;
        right: 21%;
      }
      .center-div7 .bgimg .skew .content8 {
        opacity: 0;
      }

/* --------------------------------------------------- */
.center-div8 .bgimg {
    background-image: url('img/nine.jpg');
    background-size: cover;
    background-position: center center;
  }

  .center-div8 .box {
    margin: 30px 0 0 0;
    position: relative;
    width: 301px;
    height: 300px;
    overflow: hidden;
}
  .center-div8 .bgimg .skew {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 20;
  }
    .center-div8 .bgimg .skew:before {
      background: #ad6999;
      box-shadow: -5px 0 10px rgba(0,0,0,0.2);
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      transform: skew(10deg);
      width: 100%;
      z-index: -1;
      transition: top 500ms linear, right 500ms linear;
    }
    .center-div8 .bgimg .skew:after {
      background:#ad6999;
      box-shadow: -5px 0 10px rgba(0,0,0,0.2);
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      transform: skew(-10deg);
      width: 100%;
      z-index: -2;
      transition: top 500ms linear, right 500ms linear;
    }
    .center-div8 .bgimg .skew .content8 {
      position: relative;
      opacity: 1;
      width: 100%;
      height: 100%;
      transition: opacity 300ms linear;
    }
      .center-div8 .bgimg .skew .content8 span {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #20478a;
        letter-spacing: 0.15em;
        text-shadow: 2px 2px 5px #ad885b;
      }
    
  .center-div8 .bgimg .skew:hover::before {
        top: -100%;
        right: 21%;
      }
      .center-div8 .bgimg .skew:hover::after{
        top: 100%;
        right: 21%;
      }
      .center-div8 .bgimg .skew .content8 {
        opacity: 0;
      }


      .center-div9 .bgimg {
        background-image: url('img/ten.jpg');
        background-size: cover;
        background-position: center center;
      }
    
      .center-div9 .box {
        margin: 30px 0 0 0;
        position: relative;
        width: 301px;
        height: 300px;
        overflow: hidden;
    }
      .center-div9 .bgimg .skew {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        z-index: 20;
      }
        .center-div9 .bgimg .skew:before {
          background: #ad6999;
          box-shadow: -5px 0 10px rgba(0,0,0,0.2);
          content: "";
          display: block;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          transform: skew(10deg);
          width: 100%;
          z-index: -1;
          transition: top 500ms linear, right 500ms linear;
        }
        .center-div9 .bgimg .skew:after {
          background: #ad6999;
          box-shadow: -5px 0 10px rgba(0,0,0,0.2);
          content: "";
          display: block;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          transform: skew(-10deg);
          width: 100%;
          z-index: -2;
          transition: top 500ms linear, right 500ms linear;
        }
        .center-div9 .bgimg .skew .content8 {
          position: relative;
          opacity: 1;
          width: 100%;
          height: 100%;
          transition: opacity 300ms linear;
        }
          .center-div9 .bgimg .skew .content8 span {
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: #20478a;
            letter-spacing: 0.15em;
            text-shadow: 2px 2px 5px #ad885b;
          }
        
      .center-div9 .bgimg .skew:hover::before {
            top: -100%;
            right: 21%;
          }
          .center-div9 .bgimg .skew:hover::after{
            top: 100%;
            right: 21%;
          }
          .center-div9 .bgimg .skew .content8 {
            opacity: 0;
          }
    
  .slider {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 320vh;
    margin-top: 12%;
    animation: slide 20s infinite;
}


.content {
    columns: #fff;
    width: 100%;
    height: 100vh;
}

.principal {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    letter-spacing: 5px;
    text-align: center;
}

.principal h1 {
    font-size: 104px;
    margin-bottom: 20px;
    letter-spacing: 23px;
    font-family: 'Oregano', cursive;
}

.principal p {
    font-size: 37px;
    margin-right: 7%;
}

/* @keyframes slide {
    0% {
        background-image: url('https://i.imgur.com/5xAkZg9.jpg');
        opacity: 0.7;
    }
    20% {
        background-image: url('https://i.imgur.com/5xAkZg9.jpg');
        opacity: 0.7;
    }
    20.01% {
        background-image: url('img/image-one.jpg');
        opacity: 0.7;
    }
    40% {
        background-image: url('img/image-one.jpg');
        opacity: 0.7;
    }
    40.01% {
        background-image: url('img/image-two.jpeg');
        opacity: 0.7;
    }
    60% {
        background-image: url('img/image-two.jpeg');
        opacity: 0.7;
    }
    60.01% {
        background-image: url('img/image-three.jpg');
        opacity: 0.7;
    }
    100% {
        background-image: url('img/image-three.jpg');
        opacity: 0.7;
    }
} */

/* ---------------- Navigation Bar   --------------------- */

.header {
    width: 100%;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
}

.header ul {
    text-align: center;
}

.header ul li {
    list-style: none;
    display: inline-block;
}

.header ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-family: monospace;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 25px;
    transition: all ease 0.5s;
}

.header ul li a:hover {
    background-color: #67568f85;
}

/*------------------ Search -------------------- */

#content {
    position: absolute;
    height: 50px;
    width: 300px;
    margin-left: 52px;
    top: 173%;
    left: 38%;
    transform: translate(-50%, -50%);
}



input {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 4px solid #000;
    border-radius: 50%;
    background: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto;
    outline: 0;
    -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
    transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    -webkit-transform: translate(-100%, -50%);
    /* -ms-transform: translate(-100%, -50%); */
    /* transform: translate(-100%, -50%); */
}

.search {
    background: none;
    position: absolute;
    top: 0px;
    left: 0;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 100%;
    outline: 0;
    border: 0;
    color: inherit;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}

.search:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: #000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 26px;
    margin-left: 17px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.close {
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.close:before {
    content: "";
    position: absolute;
    width: 27px;
    height: 4px;
    margin-top: -1px;
    margin-left: -13px;
    background-color: #000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.close:after {
    content: "";
    position: absolute;
    width: 27px;
    height: 4px;
    background-color: #000;
    margin-top: -1px;
    margin-left: -13px;
    cursor: pointer;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.square {
    box-sizing: border-box;
    padding: 0 40px 0 10px;
    width: 300px;
    height: 50px;
    border: 4px solid #000;
    border-radius: 0;
    background: none;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    outline: 0;
    -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
    transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
    -webkit-transition-delay: 0.4s, 0s, 0.4s;
    transition-delay: 0.4s, 0s, 0.4s;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}

/*-------------------- section-two --------------------*/

.description-section {
    height: 100vh;
    background-color: #fffffc;
}

.first-text {
    width: 400px;
    float: left;
    margin-left: 115px;
    margin-top: 15%;
    font-size: 20px;
    text-align: left;
    font-family: cursive;
    font-weight: 700;
    color: rgb(100, 65, 65);
}

.second-text {
    width: 400px;
    float: right;
    margin-right: 115px;
    margin-top: 15%;
    font-size: 20px;
    text-align: left;
    font-family: cursive;
    font-weight: 700;
    color: rgb(100, 65, 65);
}

button.button.button1{
width: 176px;
height: 55px;
margin: 25px 0px 0px 95px;
border: none;
background: #c76ea7;
color: white;
cursor: pointer;
font-size: larger;
font-family: unset;
font-weight: 600;
letter-spacing: 1px;
border-radius: 4%;
}

.button1:hover  {
    color:#ebb0d5;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

.meals-section {
    height: 100vh;
    background-color: rgb(243, 237, 237);
}

.video-section {
    height: 100vh;
    background-color: #fffffc;
}

/*-------------- footer section ---------------*/

.footer {
    background-color: rgba(51, 42, 42, 0.13);
    columns: white;
    height: 70vh;
    position: relative;
}

.footer .footer-content {
    height: 250px;
    display: flex;
}

.footer .footer-content .footer-section1 {
    flex: 1;
    padding: 25px;
}

.footer .footer-bottom {
    background-color: rgba(94, 91, 91, 0.973);
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 20px;
    letter-spacing: 4px;
}

.footer .footer-content h1, .footer .footer-content h2 {
    color: rgb(87, 82, 86);
}

.footer .footer-content .about h1 span {
    color: rgb(139, 41, 139);
}

.footer .footer-content .about p {
    margin-bottom: 10px;
    margin-top: 17px;
}

.footer .footer-content .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 6px;
    margin-top: 15px;
}

.footer .footer-content .about .social a {
    border: 1px solid grey;
    width: 49px;
    height: 38px;
    padding-top: 11px;
    margin-right: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 28px;
}

.footer .footer-content .about .social a:hover {
    border: 1px solid rgb(139, 41, 139);
    columns: white;
    transition: all .3s;
}

.footer .footer-section1 map iframe{
    border: 2px solid black;
}
.social {
    margin-top: 19px;
    margin-left: 56px;
}

.footer .footer-content .contact-form h2 {
    float: right;
    margin-right: 59px;
    margin-top: 7px;
}

.footer .footer-content .contact-form .apps a .img1 {
    width: 200px;
    height: 70px;
    float: right;
    margin-right: 84px;
    margin-top: 30px;
}

.footer .footer-content .contact-form .apps a .img2 {
    width: 226px;
    height: 97px;
    margin-left: 102px;
}

/*-------------- meals ----------------*/

.wrapper {
    position: absolute;
    top: 254%;
    right: 48%;
    bottom: 0;
    left: 0;
}

.food {
    position: absolute !important;
    left: 50%;
    margin: -197px 0 0 -310px
}

.food {
    position: relative;
    width: 442px;
    height: 394px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .5);
}

.food>.cover {
    position: relative;
    height: 260px;
    background-size: 100% auto;
    border-radius: 2px 2px 0 0;
}

.food>.cover>label {
    position: absolute;
    top: 22px;
    left: -33px;
    height: 33px;
    padding: 0 30px 0 63px;
    line-height: 33px;
    font-size: 13px;
    text-transform: uppercase;
    color: #FFF;
    background: #d46eb0;
    opacity: 0.7;
}

.food>.cover>label>i {
    position: absolute;
    top: 0;
    left: 0;
}

.food>.info {
    position: relative;
    height: 134px;
    overflow: hidden;
    border-radius: 0 0 2px 2px;
}

.food>.info>.recipe {
    display: block;
    position: absolute;
    width: 134px;
    height: 134px;
    background: #d46eb0;
    font-family: sans-serif;
    font-size: 14px;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border-radius: 0 0 0 2px;
}

.food>.info>.recipe:hover {
    background: #e7a1cf;
}

.food>.info>.recipe>i {
    display: block;
    margin: 38px 0 15px;
}

/*------------ video section -------------*/
#video-section>div {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	text-align: center;
}



#video-section iframe {
    margin-top: 12%;
    width: 70%;
    max-width: 300%;
    height: 350px;
}
